@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Poppins&family=Rubik:wght@400;700&family=Work+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #393a4a;
}

nav {
  margin: 0;
  padding: 0 40px;
  height: 20vh;
  color: #393a4a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
  font-family: "Poppins";
}
nav .logo {
  font-size: 90px;
  width: 30%;
  margin: 20px;
  color: #393a4a;
  font-family: "Work Sans", "san-serif";
  font-weight: bolder;
  justify-content: center;
  align-items: center;
}
nav .button1 {
  display: block;
  width: 25%;
  height: 8vh;
  padding: 10px 10px;
  border: 2px solid #393a4a;
  border-radius: 10px;
  text-align: center;
  font-weight: bolder;
  font-size: 30px;
}

img {
  padding: 20px 20px;
}

a:link,
a:visited {
  text-decoration: none;
}

header div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Poppins";
}
header div h1 {
  color: deepskyblue;
  font-family: "Rubik";
  font-weight: bolder;
  font-size: 50px;
  font-weight: bold;
  width: 100%;
  padding: 40px 40px;
}
header div h2 {
  font-size: 40px;
  padding: 30px 30px;
  font-size: 42px;
}
header div h3 {
  color: deepskyblue;
  font-size: 35px;
  padding: 30px 30px;
}
header div h4 {
  font-size: 30px;
  padding: 30px 30px;
}

.button2 {
  border: 2px solid #393a4a;
  width: 50%;
  font-size: 25px;
  color: white;
  background-color: #393a4a;
  border-radius: 10px;
  padding: 15px 15px;
}

div {
  padding: 40px 40px;
  image-resolution: 150px;
}
div h5 {
  font-size: 40px;
  padding: 40px 40px;
}
div p {
  font-size: 35px;
  display: inline-block;
}

footer {
  background-color: rgba(236, 236, 178, 0.755);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 35px;
  padding: 30px 30px;
}
footer #contact {
  padding: 20px 20px;
}
footer #privacy {
  padding: 20px 20px;
}
footer #terms {
  padding: 20px 20px;
}