@import url("https://fonts.googleapis.com/css2?family=Concert+One&family=Oswald&family=PT+Sans&family=Poppins&family=Rubik:wght@400;700&family=Work+Sans&display=swap");
@media screen and (min-wdith: 768px) {
  main {
    width: 300px;
  }
}
@media screen and (min-width: 991px) {
  main {
    width: 500px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #3b4169;
}

nav {
  margin: 0;
  padding: 0 40px;
  height: 20vh;
  color: #3b4169;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
  font-family: "Poppins";
  background-color: rgba(255, 255, 238, 0.882);
}
nav .logo {
  width: 35vh;
  height: 35vh;
  justify-content: center;
  align-items: center;
}
nav .button1 {
  display: block;
  width: 12vh;
  height: 6vh;
  padding: 10px 10px;
  border: 2px solid #3b4169;
  border-radius: 10px;
  text-align: center;
  font-weight: bolder;
  font-size: 25px;
}

.phone {
  padding: 10px 10px;
  max-width: 75vh;
  max-height: 75vh;
  width: 100vh;
  height: 100vh;
}

.penguin {
  width: 25vh;
  height: 25vh;
}

a:link,
a:visited {
  text-decoration: none;
}

header {
  background-color: rgba(255, 255, 238, 0.882);
  padding: 40px;
}
header div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Poppins";
}
header div h1 {
  color: deepskyblue;
  font-family: "Comic Sans MS";
  font-size: 40px;
  font-weight: bold;
  width: 100%;
  padding: 40px 40px;
}
header div h2 {
  padding: 30px 30px;
  font-size: 35px;
}
header div h3 {
  color: deepskyblue;
  font-size: 30px;
  padding: 30px 30px;
}
header div h4 {
  font-size: 22px;
  padding-bottom: 50px;
}

.button2 {
  border: 2px solid #3b4169;
  width: 40%;
  font-size: 25px;
  color: white;
  background-color: #3b4169;
  border-radius: 10px;
  padding: 30px 20px;
  text-align: center;
}

h5 {
  text-align: center;
  font-size: 40px;
  padding-top: 50px;
  font-family: "Rubik";
  font-weight: lighter;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}
section div {
  flex-direction: row;
  font-size: 27px;
}

footer {
  background-color: rgba(255, 255, 211, 0.858);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 28px;
  padding: 15px 15px;
  font-family: "Poppins";
}
footer #contact {
  padding: 20px 20px;
}
footer #privacy {
  padding: 20px 20px;
}
footer #terms {
  padding: 20px 20px;
}