@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Poppins&family=Rubik:wght@400;700&family=Work+Sans&display=swap');
$color-primary: rgb(57, 58, 74);
$color-black: rgb(21, 21, 21);
$color-secondary: rgb(0, 191, 255);
$color-footer: rgba(236, 236, 178, 0.755);

$font-logo: "Work Sans", "san-serif";
$font-primary: "Rubik";
$font-secondary: "Poppins"; 


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $color-primary;

}

nav {
    margin: 0;
    padding: 0 40px;
    height: 20vh;
    color: $color-primary;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    font-family: $font-secondary;
    .logo {
        font-size: 90px;
        width: 30%;
        margin: 20px;
        color: $color-primary;
        font-family: $font-logo;
        font-weight: bolder;
        justify-content: center;
        align-items: center;
    }
    .button1 {
        display: block;
        width: 25%;
        height: 8vh;
        padding: 10px 10px;
        border: 2px solid $color-primary;
        border-radius: 10px;
        text-align: center;
        font-weight: bolder;
        font-size: 30px;
    }

}

img {
    padding: 20px 20px;
}

a:link ,
a:visited {
    text-decoration: none;
}


header {
    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-family: $font-secondary;
        h1 {
        color: $color-secondary;
        font-family: $font-primary;
        font-weight: bolder;
        font-size: 50px;
        font-weight: bold;
        width: 100%;
        padding: 40px 40px;
        }
        h2 {
            font-size: 40px;
            padding: 30px 30px;
            font-size: 42px;
        }
        h3 {
            color: $color-secondary;
            font-size: 35px;
            padding: 30px 30px;
        }
        h4 {
            font-size: 30px;
            padding: 30px 30px;
        }
    }
}

.button2 {
    border: 2px solid $color-primary;
    width: 50%;
    font-size: 25px;
    color: white;
    background-color: $color-primary;
    border-radius: 10px;
    padding: 15px 15px;
}

div {
    h5 {
        font-size: 40px;
        padding: 40px 40px;
    }
    p {
        font-size: 35px;
        display: block;
    }
}

footer {
    background-color: $color-footer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 35px;
    padding: 30px 30px;
    #contact {
        padding: 20px 20px;
    }
    #privacy {
        padding: 20px 20px;
    }
    #terms {
        padding: 20px 20px;
    }
}
